{% extends 'employee_register/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-10 offset-1">
        <h4 class="text-center alert alert-info">Add New Employee</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Add">
            <a href="{% url 'employee_details' %}" class="btn btn-info">Back To Home</a>
        </form>
        
    </div>

{% endblock content %}